@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#background {
    background-color: #279AF1;
}

#navbar {
    background-color: #070600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-decoration: none;
}

#navlinks {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    margin-right: 2vw;
}

#navlink1 {
    margin-right: 1vw;
    text-decoration: none;
    color: #F7F7FF;
}

#navlink2 {
    text-decoration: none;
    color: #F7F7FF;
}

#navlink1:hover {
    color: #EA526F;
}

#navlink2:hover {
    color: #EA526F;
}

#img1cntnr {
    display: flex;
    justify-content: center;
}

#img1 {
    width: 50vw;
    margin-top: 7vh;
}

#sect1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: thin
}

#welcome {
    font-size: 4vw;
    color: #070600;
}

#para1 {
    text-align: center;
    font-size: 2vw;
    color: #279AF1;
    background-color: #F7F7FF;
    border: 1vw solid;
    border-color: #070600;
}

#footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #070600;
    display: flex;
    justify-content: space-evenly;
    font-size: 2vw;
    padding: 1vw;
    margin-top: 50vh;
}

#ftlink1 {
    color: #23B5D3;
    text-decoration: none;
}

#ftlink2 {
    color: #23B5D3;
    text-decoration: none;
}

#ftlink3 {
    color: #23B5D3;
    text-decoration: none;
}

#ftlink4 {
    color: #23B5D3;
    text-decoration: none;
}

#ftlink1:hover {
    color: #F7F7FF;
}

#ftlink2:hover {
    color: #F7F7FF;
}

#ftlink3:hover {
    color: #F7F7FF;
}

#ftlink4:hover {
    color: #F7F7FF;
}